#root {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.message-box {
  width: 300px;
  font-size: 1rem;
  padding: 10px;
  margin-top: 10px;
}
